<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885480479435-ombd7ghj0sdb8dqdlgobskgq592s687q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885480479435-ombd7ghj0sdb8dqdlgobskgq592s687q</string>
	<key>API_KEY</key>
	<string>AIzaSyDnOc0c_bd5ijAJHTlQkkR6JlDaK0ptlqk</string>
	<key>GCM_SENDER_ID</key>
	<string>885480479435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.edu.ifsp.OrganizadorExcursoesApp</string>
	<key>PROJECT_ID</key>
	<string>organizadorexcursoesapp</string>
	<key>STORAGE_BUCKET</key>
	<string>organizadorexcursoesapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885480479435:ios:c253e19423a47b6b0dd94e</string>
	<key>DATABASE_URL</key>
	<string>https://organizadorexcursoesapp.firebaseio.com</string>
</dict>
</plist>